
// UTILITIES
// repeated OOCSS styles for use in markup


// layout

.u-clear {
  clear:both;
}

.u-nav-list {
  list-style: none;
  margin: 0; 
  padding: 0;
  li {
    float: left;
    margin: 0; 
    padding: 0;
    cursor: pointer;
  }
}

.u-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// hiding/showing for words and other things

.u-a11y {
  display: inline-block;
  height: 0;
  text-indent: -99999em;
  width: 0;
  float: left; // remove from layout
}

.u-hide-sm {
  display: none !important;
}

  @media screen and (min-width: $md-breakpoint) {
    .u-hide-sm {
      display: inline-block !important;
    }
    .u-hide-md {
      display: none !important;
    }
  }
  
  @media screen and (min-width: $lg-breakpoint) {  
    .u-hide-lg {
      display: none !important;
    }
  }

