// Working/Temporary Styles


.pages {
  min-height: 2000px; // illustration height
  display: block;
  position: relative;
}

  .page {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding-top: 108px; // navigation height
    min-height: 2000px; // illustration height
    background: $white;
    &.is-selected {
      position: relative;
    }
  }
  
  .page--about {
    left: -100%;
    z-index: $layer3;
  }
  .page--townhouse {
    left: 0;
    z-index: $layer2;
    text-align: center;
  }
  .page--people {
    left: 100%;
    z-index: $layer4;
  }
  
  .page--about,
  .page--townhouse,
  .page--people {
    transition: left 0.5s ease;
    &.is-selected {
      left: 0;
    }
  }
  
    .page__content {
      width: 90%;
      margin: 0 auto;
    }
  
