// PEOPLE 


.list--filters, 
.list--sorts {
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: $black-secondary;
  }
  .is-active {
    color: $black-primary;
    text-decoration: underline;
  }
}

  .list--filters li {
    padding: .75rem .75rem .5rem;
    font-size: $zeta;
  }
  
  .list--sorts li {
    padding: .1rem .75rem;
    font-size: $milli;
  }


// grid

.people {
  clear: both;
  margin: $space-double auto;
  width: 300px;
}

.person {
  position: relative;
  width: 150px; // 2col
  padding: 0 5px;
  float: left;
  list-style: none;
  text-align: center;
  &__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: $black-tertiary;
    position: absolute;
    z-index: $layer1;
    cursor: pointer;
  }
  &__name {
    color: $black-primary;
    padding-top: 10px;
    margin-top: 140px;
    margin-bottom: 0;
    font-size: $delta;
    line-height: 1.2;
  }
  &__tags {
    font-size: $milli;
    color: $black-secondary;
    line-height: 1.2;
  }
}




@media screen and (min-width: $lg-breakpoint) {
  
  .people {
    width: 900px;
  }
  
  .person {
    width: 300px; // 3col
    padding: 0 40px 80px;
    &__photo {
      width: 220px;
      height: 220px;
    }
    &__name {
      margin-top: 220px;
    }
  }
}


