
// HEADINGS


h1, h2 {
	color: $headline-color;
	font-weight: 300;
  margin-bottom: 1rem;
}

h3, h4, h5, h6 {
	color: $black-primary;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: .5rem;
}

h1, h2, h3 {
  text-align: center;
  line-height: 1.2;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}


h1, .u-alpha {
	font-size: $alpha;
  margin-top: 2rem;
}

h2, .u-beta {
	font-size: $beta;
}

h3, .u-gamma {
  font-size: $gamma;
  line-height: 1.4;
}

h4, .u-delta {
	font-size: $delta;
	line-height: 1.4;
}

h5, .u-epsilon {
	font-size: $epsilon;
	line-height: 1.2;
}

h6, .u-zeta {
  text-transform: uppercase;
  letter-spacing: $tracking;
	color: $black-secondary;
	font-size: $nano;
	line-height: 1.1;
}	

p, li, dt, dd, label, time {
  color: $black-primary;
	font-size: $epsilon;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 1.6rem;
}

small {
  font-size: 85%;
}

b, strong {
  font-weight: 700;
  color: $strong-color;
}



// LISTS

ul, ol {
  
  margin: 0; 
  padding: 0;
  clear: both;
  
  li {
    margin-bottom: .8rem;
  }
  
  // child lists
  ul, ol {
    margin: 1rem 1rem 2rem;
  }
  
  ul li {
    list-style: square;
  }
  
}


// QUOTES

blockquote {
  color: $black-primary;
  font-style: italic;
  line-height: 1.6;
  margin: 0;
  padding: $space;
  
  p {
    margin: 0;
  }
  
  cite {
    opacity: .5;
    white-space: nowrap;
  }
}


// CODE

code,
kbd,
pre,
samp {
	font-size: $epsilon;
}

pre {
    background: $black-divider;
    color: $black-primary;
    display: block;
    padding: 1em 1.5em;
    margin: 1.8em 0;
}



