// BASE

// standardize box model across browsers! IE8 and up. bit.ly/1eXrOej 
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


html,
body {
  background-color: $white-primary;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; // 16px 
}

@media screen and (min-width: $sm-breakpoint) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: $md-breakpoint) {
  html {
    font-size: 18px;
  }
}


body {
  font-family: $sans;
  font-weight: 300; 
  font-style: normal;
  line-height: 1.4;
  color: $black-primary;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

