

// LINKS

a,
.link {
    color: $blue500; 
    text-decoration: none; 
    cursor: pointer;     
}

a:link 		{color: $blue500;}  // unvisited  
a:visited 	{color: $blue500;}  // visited  

a:hover 	{color: $blue300; }  // mouseover  
a:active 	{color: $blue300;}  // selected  




.button-list {
  padding: 0 $space;
  li {
    color: $black-secondary;
    padding: $space-third $space-half;
  }
  li:hover,
  li.is-on {
    color: $black-primary;
  }
}





