
// HEADINGS

h1, h2, h3, h4, h5, h6 {
	color: $black-primary;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: .5rem;
}

h1, h2 {
	line-height: 1.2;
}

h1, .alpha {
	font-size: $alpha;
	font-weight: 300;
  margin-bottom: 1rem;
}

h2, .beta {
	font-size: $beta;
	margin-bottom: 0;
}

h3, .gamma {
  font-size: $gamma;
  line-height: 1.4;
}

h4, .delta {
	font-size: $delta;
	line-height: 1.4;
}

h5, .epsilon {
	font-size: $epsilon;
	line-height: 1.2;
}

h6, .zeta {
  text-transform: uppercase;
  letter-spacing: $tracking;
	color: $black-secondary;
	font-size: $nano;
	line-height: 1.1;
}	

p, li, dt, dd, label, time {
  color: $black-primary;
	font-size: $epsilon;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 1.6rem;
}

p.lede {
  font-size: $delta;
}

small {
  font-size: 85%;
}

b, strong {
  font-weight: 700;
}



// LISTS

ul, ol {
  
  li {
    margin-bottom: .8rem;
  }
  
  // child lists
  ul, ol {
    margin-bottom: 1.6rem;
    margin-top: .8rem;
  }
  
  ul li {
    list-style: square;
  }
  
  // grandchild lists
  ul ul {
    list-style: disc;
    margin-bottom: 0;
  }
}


// QUOTES

blockquote {
  color: $black-primary;
  font-style: italic;
  line-height: 1.6;
  margin: 0;
  padding: $space;
  
  p {
    margin: 0;
  }
  
  cite {
    opacity: .5;
    white-space: nowrap;
  }
}


// CODE

code,
kbd,
pre,
samp {
	font-size: $epsilon;
}

pre {
    background: $black-divider;
    color: $black-primary;
    display: block;
    padding: 1em 1.5em;
    margin: 1.8em 0;
}



